# Ignore Xcode project files
*.xcworkspace
*.xcuserdata
*.xcuserstate

# Ignore build output
/build/
/DerivedData/

# Ignore personal files and configurations
.DS_Store
Flash\ Chat\ iOS13/GoogleService-Info.plist

# Ignore temporary files and logs
*.log
*.tmp